#root {
    width: 100vw;
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0D0208;
    color: #F2F7FA;
}

table, select, input, h1, h2, h3, p, a  {
    background: #0D0208;
    color: #F2F7FA;
}

.card {
    font-family: Arial, sans-serif;
    background: #0D0208;
    color: #F2F7FA;
    border: 2px solid #F2F7FA;
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 10vw;
    background: #0D0208;
    color: #F2F7FA;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 20px;
}

.sidebar a {
    display: block;
    color: #F2F7FA;
    text-decoration: none;
    margin: 10px 0;
}

.sidebar a:hover {
    color: #04548c;
}

.profile {
    width: 70%;
}

.logo {
    width: 95%;
}

.content {
    display: flex;
    margin-top: 1vh;
    margin-left: 11vw;
    margin-right: 0px;
    margin-bottom: 10vh;
}

.card {
    border-radius: 12px;
    margin-bottom: 5vh;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    max-height:10vh;
    overflow: hidden;
}

.card a {
    width: 7vw;
    margin: 2px;
}

.card_title {
    position: absolute;
    top: 3vh;
    left: 2vw;
}

.card-body label{
    display: flex;
    justify-content:end;
    width: 100%;
    margin-bottom: 1vw;
}

.card-body input{
    display: flex;
    width:100%;
    margin-bottom: 1vw;
}

.alert {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    list-style: none;
}

.json-cell{
  max-width: 30vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  text-align: justify;
  margin: 0px;
}

.action-block{
  min-width: 80px;
}

.red_b {
 background-color: #B30600;
 border-color: #F2F7FA;
 color: #F2F7FA;
}

.blue_b {
 background-color: #2347BD;
 border-color: #F2F7FA;
 color: #F2F7FA;
}

.green_b {
 background-color: #29AF34;
 border-color: #F2F7FA;
 color: #F2F7FA;
}

.dark_b {
 background-color: #0D0208;
 border-color: #F2F7FA;
 color: #F2F7FA;
}

.btn:hover {
  background-color: #F2F7FA;
  border-color: #0D0208;
  color: #0D0208;
}
