#root {
    width: 100vw;
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 10vw;
    background: #1f2937;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 20px;
}

.sidebar a {
    display: block;
    color: #d1d5db;
    text-decoration: none;
    margin: 10px 0;
}

.sidebar a:hover {
    color: white;
}

.profile {
    width: 70%;
}

.footer {
    position: fixed;
    bottom: 0%;
    left: 50%;
    width: 100vw;
    height: 4vh;
    transform: translate(-50%, 0%);
    background-color: #1f2937;
    padding-top: 1vh;
    z-index: 99;
}

.content {
    display: flex;
    margin-top: 1vh;
    margin-left: 11vw;
    margin-right: 0px;
    margin-bottom: 10vh;
}

.card {
    border-radius: 12px;
    margin-bottom: 5vh;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    max-height:10vh;
    overflow: hidden;
}

.card a {
    width: 7vw;
    margin: 2px;
}

.card_title {
    position: absolute;
    top: 3vh;
    left: 2vw;
}

.card-body label{
    display: flex;
    justify-content:end;
    width: 100%;
    margin-bottom: 1vw;
}

.card-body input{
    display: flex;
    width:100%;
    margin-bottom: 1vw;
}

.alert {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    list-style: none;
}

.json-cell{
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  text-align: justify;
  margin: 0px;
}